body {
	background-color: violet;
}

header, footer {
	background-color: #611220;
}

h1 {
	color: red;
	text-align: center;
}

b {
	color: white;
	font-size: 45;
}

i { color: white; 
font-size: 45;}

p {
	color: greenyellow;
	font-size: 35;
}

img {
	width: 25%;
}
