body {
	background-color: violet;
}

header, footer {
	background-color: #611220;
}

h1 {
	color: #000000;
	text-align: center;
}

b {
	color: #611220;
	font-size: 30;
}

i { color: #611220; }

